<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paul.livecoding">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <activity
            android:name=".activities.LiveStreamsOnAirA"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        android:enabled="true"
        android:exported="true"
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LiveStreamsIntentService"
            android:exported="true" />

        <provider
            android:name=".database.generated.StreamsProvider"
            android:authorities="com.example.paul.livecoding.database.StreamsProvider"
            android:exported="true" />

        <activity
            android:name=".activities.CurrentStream"
            android:label="@string/title_activity_current_stream"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LiveStreamsOnAirA" />
        </activity>

        <service
            android:name=".widget.WidgetIntentService"
            android:exported="true">

        </service>

    </application>

</manifest>